@page "/breweries/{id}"
@using Brewd.Client.Services
@using Brewd.Shared
@using Brewd.Shared.Models
@inject HttpClient Http

<PageTitle>Brewd | Find Breweries</PageTitle>

<h1>Brewery Details</h1>

@if (brewery == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        
    </div>
}

@code {
    [Inject]
    public IBreweryService BreweryService { get; set; }

    [Parameter]
    public string? Id { get; set; }
    
    private BreweryModel? brewery;

    protected override async Task OnInitializedAsync()
    {
        brewery = await BreweryService.GetBrewery(Id);

    }
}
